In [3]:
# 1. Create a Pandas DataFrame from a dictionary containing student names and their corresponding ages.
# 2. Read a CSV file into a Pandas DataFrame.
# 3. Select a single column from a DataFrame.
# 4. Select multiple columns from a DataFrame.
# 5. Filter rows in a DataFrame based on a condition.
# 6. Calculate the mean of a numeric column in a DataFrame.
# 7. Calculate the median of a numeric column in a DataFrame.
# 8. Calculate the sum of a numeric column in a DataFrame.
# 9. Calculate the maximum value in a numeric column in a DataFrame.
# 10. Calculate the minimum value in a numeric column in a DataFrame.
# 11. Merge two DataFrames using a common key.
# 12. Concatenate two DataFrames vertically.
# 13. Concatenate two DataFrames horizontally.
# 14. Group data in a DataFrame by a categorical variable and calculate summary statistics.
# 15. Apply a custom function to each element in a DataFrame.
# 16. Create a new column in a DataFrame by applying a function to existing columns.
# 17. Rename columns in a DataFrame.
# 18. Remove duplicate rows from a DataFrame.
# 19. Reshape a DataFrame using the melt function.
# 20. Reshape a DataFrame using the pivot function.
# 21. Perform a left join between two DataFrames.
# 22. Perform an inner join between two DataFrames.
# 23. Perform an outer join between two DataFrames.
# 24. Perform a right join between two DataFrames.
# 25. Sort a DataFrame by values in a specific column.
# 26. Sort a DataFrame by multiple columns.
# 27. Set the index of a DataFrame to a specific column.
# 28. Reset the index of a DataFrame.
# 29. Create a pivot table from a DataFrame.
# 30. Replace missing values in a DataFrame with a specific value.
# 31. Drop rows with missing values from a DataFrame.
# 32. Drop columns with missing values from a DataFrame.
# 33. Convert a DataFrame column to a different data type.
# 34. Convert a DataFrame to a NumPy array.
# 35. Convert a DataFrame to a list of dictionaries.
# 36. Convert a DataFrame to a JSON string.
# 37. Convert a DataFrame to a CSV file.
# 38. Perform a time series analysis on a DataFrame.
# 39. Resample time series data in a DataFrame.
# 40. Calculate the rolling mean of a time series in a DataFrame.
# 41. Apply a lambda function to a DataFrame.
# 42. Filter rows in a DataFrame based on multiple conditions.
# 43. Create a histogram from a numeric column in a DataFrame.
# 44. Create a bar plot from categorical data in a DataFrame.
# 45. Create a scatter plot from two numeric columns in a DataFrame.
# 46. Create a box plot from a numeric column in a DataFrame.
# 47. Create a line plot from time series data in a DataFrame.
# 48. Perform a correlation analysis between numeric columns in a DataFrame.
# 49. Perform a hypothesis test on data in a DataFrame.
# 50. Create a custom function to clean and preprocess data in a DataFrame.

In [4]:
import pandas as pd
import os
import numpy as np

In [47]:
# 1. Create a Pandas DataFrame from a dictionary containing student names and their corresponding ages.
dictionary = {'siva':20,'raj':22, 'sai':18}
df = pd.DataFrame(dictionary.items(), columns = ['name','age'] )
df

   name  age
0  siva   20
1   raj   22
2   sai   18

In [38]:
# 2. Read a CSV file into a Pandas DataFrame.
# df = pd.read_csv('filename')
# 3. Select a single column from a DataFrame.
x = df['name']
print((x.tolist()))
# 4. Select multiple columns from a DataFrame.
x = df[['name','age']]
print((x.values.tolist()))
# 5. Filter rows in a DataFrame based on a condition.
filter_df = df[df['age']<20]
print(filter_df)
x = df[['age']]
print((x.values.tolist()[0][0]))

['sai']
[['sai', 18]]
  name  age
2  sai   18
18

In [54]:
# 6. Calculate the mean of a numeric column in a DataFrame.
mean_col = df['age'].mean()
print((mean_col))
# 7. Calculate the median of a numeric column in a DataFrame.
median_col = df['age'].median()
print((median_col))
# 8. Calculate the sum of a numeric column in a DataFrame.
sum_col = df['age'].sum()
print((sum_col.tolist()))
# 9. Calculate the maximum value in a numeric column in a DataFrame.
# 10. Calculate the minimum value in a numeric column in a DataFrame.
min_df, max_df = df['age'].min(), df['age'].max()
print(min_df, max_df)

20.0
20.0
60
18 22

In [90]:
def lines():
    x = '\n'+'-'*20+ '\n'
    return x
print(lines())

--------------------

In [116]:
# 11. Merge two DataFrames using a common key.
df1 = pd.DataFrame({'key':['a','b','c'],'values':[1,2,3]})
df2 = pd.DataFrame({'key':['a','d','e'],'values':[4,5,6]})
new_df = df1.merge(df2,how = 'outer')
print('new_df', new_df)
print(lines())
final_df = pd.merge(df1,df2,on = 'key',how='inner')
print('final_df', '\n',final_df)
print(lines())
# 12. Concatenate two DataFrames vertically.
vertical_concatination_df = pd.concat([df1,df2],ignore_index=True)
print('vertical_concatination_df','\n', vertical_concatination_df)
print(lines())
# 13. Concatenate two DataFrames horizontally.
horizantal_concatination_df = pd.concat([df1,df2],ignore_index=True,axis = 1)
print('vertical_concatination_df', '\n',horizantal_concatination_df)
print(lines())
# 14. Group data in a DataFrame by a categorical variable and calculate summary statistics.
df = pd.DataFrame({'grp':['a','b','c','d','a'],'age':[20,23,50,42,21]})
print(df[['age']].describe())
print(df)
# 15. Apply a custom function to each element in a DataFrame.
def custom(x):
    if isinstance(x,(int,float,np.number)):
        return x**2
    else:
        return x
df['new'] = df['age'].apply((custom))
print(df)

new_df   key  values
0   a       1
1   a       4
2   b       2
3   c       3
4   d       5
5   e       6

--------------------

final_df
   key  values_x  values_y
0   a         1         4

--------------------

vertical_concatination_df
   key  values
0   a       1
1   b       2
2   c       3
3   a       4
4   d       5
5   e       6

--------------------

vertical_concatination_df
    0  1  2  3
0  a  1  a  4
1  b  2  d  5
2  c  3  e  6

--------------------

             age
count   5.000000
mean   31.200000
std    13.845577
min    20.000000
25%    21.000000
50%    23.000000
75%    42.000000
max    50.000000
  grp  age
0   a   20
1   b   23
2   c   50
3   d   42
4   a   21
  grp  age   new
0   a   20   400
1   b   23   529
2   c   50  2500
3   d   42  1764
4   a   21   441

In [115]:
df

  grp  age   new
0   a   20   400
1   b   23   529
2   c   50  2500
3   d   42  1764
4   a   21   441